/* fuentes */
/* iniciales */
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

/* interior logo */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rakkas&display=swap');

/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que padding y border se incluyan en el ancho y alto total */
}

/* variables */
:root {
    --color-verde-oscuro: #5c764b;
    --color-verde-claro: #66825a;
    --color-blanco-claro: #efefe9;
    --color-blanco-gris: #ebeae4;
    --color-naranja-medialuna: #dd5400;
    --color-texto-negro: #000000;
    --color-texto-blanco: #ffffff;
}

/* body, contiene el header, main y footer */

body {
    background-color: var(--color-blanco-claro);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

/* header */
header {
    margin: .3em;
    background-color: var(--color-blanco-gris);
    height: auto;
    border: 1px solid var(--color-verde-claro);
}

.imgLogo {
    height: 5em;
    margin: auto;
}

.encabezado {
    margin-left: 0.5em;
    margin-top: none;
}

.menuNav {
    display: flex;
    justify-content: flex-end;
    gap: .5em; /* Ajustar el espaciado entre los elementos */
}

.menuNav li {
    cursor: pointer;
    list-style: none;
    background-color: var(--color-blanco-claro);
    border-radius: 0.21rem;
    border: solid 2px var(--color-verde-oscuro);
    padding: 0.25em 0.5em; /* Aumentar el padding horizontal */
    font-size: .9em;
    text-align: center;
    transition: background-color 0.3s, border 0.3s; /* Añadir transición para suavizar el hover */
}

.menuNav li:hover {
    background-color: var(--color-verde-claro);
    border: 2px solid var(--color-texto-negro);
}

.menuNav li a {
    color: var(--color-verde-oscuro);
    text-decoration: none;
    display: block; /* Asegurar que el enlace ocupe todo el li */
    padding: 0.25em 0.5em; /* Aumentar el padding del enlace */
    transition: color 0.3s; /* Añadir transición para suavizar el hover */
}

.menuNav li a:hover {
    color: var(--color-texto-blanco);
}

/* main */

main {
    margin: .5em;
    color: var(--color-texto-negro);
}

/* TARJETAS INDEX nuestros productos*/

.productos {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 1rem;
}

.tarj-index {
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    width: 90%;
    border-radius: .5em;
    margin: .5em;
    background-color: var(--color-verde-claro);
    max-width: 28rem;
}

.tarj-img {
    width: 100%;
    border-radius: .5em;
}

.titulo-tarj {
    margin: .5em;
    align-items: center;
    font-weight: 600;
    color: var(--color-texto-blanco);
    text-transform: uppercase;
}

.main,
h3 {
    font-weight: 100;
    font-size: 2em;
}

.sobreNosotros p {
    line-height: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* FOOTER */
.logoWhatsapp {
    width: 3.5em;
    position: fixed;
    right: .5em;
    bottom: 1em;
    transition: width 0.3s, border 0.3s; /* Añadir transición para suavizar el hover */
}

.logoWhatsapp:hover {
    width: 4.5em;
    border-radius: 3em;
    border: 3px solid var(--color-verde-claro);
}

footer {
    padding: 3rem;
    text-align: center;
    margin-top: .2em;
    margin-bottom: .5em;
    max-height: 10em;
    text-transform: uppercase;
}

footer p {
    color: var(--color-texto-negro);
    font-size: .8rem;
}

.firma {
    margin-top: .5em;
}

.logoRedes {
    margin-top: none;
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
    cursor: pointer;
    width: 4em;
    transition: width 0.3s, border 0.3s; /* Añadir transición para suavizar el hover */
}

.logoRedes:hover {
    width: 4.5em;
    border-radius: 3em;
    border: 3px solid var(--color-verde-claro);
}

.none {
    display: none;
}

h1,
h2,
h3,
h4 {
    color: var(--color-verde-oscuro);
}

/* medias queries */
@media (max-width: 500px) {
    .titulo {
        display: none;
    }
}
