/* fuentes */
/* iniciales */
@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

/* interior logo */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rakkas&display=swap');

/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Asegura que padding y border se incluyan en el ancho y alto total */
}

/* variables */
:root {
    --color-verde-oscuro: #5c764b;
    --color-verde-claro: #66825a;
    --color-verde-sombra: #66825a2f;
    --color-blanco-claro: #efefe9;
    --color-blanco-gris: #ebeae4;
    --color-naranja-medialuna: #dd5400;
    --color-texto-negro: #000000;
    --color-texto-blanco: #ffffff;
}

/* body, contiene el header, main y footer */

body {
    background-color: var(--color-blanco-claro);
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

/* header */
header {
    margin: 0.5rem;
    height: auto;
    padding-inline: .5em;
}

.imgLogo {
    height: 5em;
    margin: auto;
    padding-inline: .5em;
}

.titulo {
    font-size: 2em;
    padding: .25em;
    color: var(--color-texto-negro);
    margin: auto;
}

.encabezado {
    margin-left: .5em;
    padding: .25em;
}

/* Menú de navegación */
.menuNav {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Tres columnas de igual tamaño */
    column-gap: 1em;
    row-gap: .5em;
    padding-inline: 1em;
    justify-content: space-between;

}

.menuNav li {
    flex: 0 0 48%; /* Los elementos ocupan el 48% del ancho del contenedor */
    margin-bottom: 0.5em; /* Espacio entre los elementos en la parte inferior */
}
/* Reglas globales para <li> */

li {
    cursor: pointer;
    list-style: none;
    background-color: var(--color-verde-sombra);
    border-radius: 0.21rem;
    border: solid 2px var(--color-verde-oscuro);
    padding: 0.25em 0.5em;
    font-size: .9em;
    text-align: center;
    transition: background-color 0.3s, border 0.3s;
}

li:hover {
    background-color: var(--color-verde-claro);
    border: 2px solid var(--color-texto-negro);
}

/* Estilo para enlaces dentro de <li> */
li a {
    color: var(--color-verde-oscuro);
    text-decoration: none;
    display: block;
    padding: 0.25em 0.5em;
    transition: color 0.3s;
    text-transform:uppercase;
}

li a:hover {
    color: var(--color-texto-blanco);
}

navbar-toggler {
    margin-right: 5rem;
}

/* main */
main {
    margin: .5em;
    margin-top: 0;
    color: var(--color-texto-negro);
}

.contenedorProductos {
    position: relative;
    padding: 1em;
    padding-top: .5em;
}

.titulos {
    border: 2px solid var(--color-verde-oscuro);
    text-transform: uppercase;
    font-size: 2em;
    display: flex;
    top: 0;
    flex-direction: column;
    align-items: center;
    position: sticky;
    background: var(--color-blanco-gris);
    z-index: 1;
    /* Asegúrate de que el encabezado se mantenga en la parte superior */
    padding: 10px 0;
    margin: 0;
    /* Asegúrate de que no haya márgenes adicionales */
}

.porcion {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    color: var(--color-verde-oscuro);
    font-size: .75em;
    }

/*** TARJETAS INDEX nuestros productos***/
/* Productos Section */
.productos {
    height: 90%;
    display: grid;
    gap: .5em;
    background-color: var(--color-verde-sombra);
    border-radius: 0.5em;
    padding: .5em;
    grid-template-columns: repeat(auto-fit, minmax(150px, 3fr));
    justify-content: center;
}

.tarj-container {
    display: flex;
    padding: .25rem;
    height: auto;
    max-height: 50vh;
    overflow: hidden;
    margin: .0;
}

.tarj-index {
    width: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*justify-content define cómo se distribuyen los elementos a lo largo del eje principal del contenedor flexible. El eje principal puede ser horizontal o vertica*/
    align-items: center;
    padding: .5em;
    margin: 0;
    border-radius: .25em;
    background-color: var(--color-verde-claro);
    box-sizing: border-box;
    position: relative;
}

.tarj-img {
    padding: .5vh;
    margin: 0;
    height: 8em;
    width: 100%;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    object-fit: cover;
}

.titulo-tarj {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    width: auto;
    padding: .02em;
    margin: .05em;
    justify-content: center;
    /*alinea en vertical*/
    align-items: center;
    font-weight: 400;
    text-align: center;
    letter-spacing: .05em;
    color: var(--color-texto-blanco);
    text-transform: uppercase;
    /* word-wrap: break-word; */
    overflow: hidden;
}

.tarj-descrip {
    display: flex;
    padding: .02em;
    margin: 0;
    min-height: 10%;
    max-height: auto;
    font-weight: 500;
    font-size: .75em;
    justify-content: center;
    text-transform: uppercase;
    overflow: hidden;
    /* Evita que el contenido sobresalga */
    text-align: center;
}

.tarj-precio {
    font-size: 1em;
    margin: 0.05em;
    font-weight: 500;
    letter-spacing: .09em;
    color: var(--color-blanco-claro);
    margin-bottom: .02em;
    position: static;
    ;
    align-self: center;
    /*alinea en el eje vertical*/
    margin-top: auto;
    /* Empuja el elemento al final */
}

.tarj-cant {
    font-size: .75em;
    padding: 0;
    margin: 0;
}

.producto-agregar {
    background-color: var(--color-blanco-gris);
    border: 1px solid var(--color-texto-negro);
    border-radius: .5em;
    padding: .2em;
    padding-inline: .5em;
    letter-spacing: .005em;
    font-weight: 500;
    bottom: 0;
    width: auto;
    align-self: center;
    margin-bottom: .5em;


    &:hover {
        background-color: var(--color-verde-claro);
        border: 1px solid var(--color-texto-blanco);
        color: var(--color-texto-blanco);
    }
}

/*** NOSOTROS ***/
.sobreNosotros {
    margin-top: 1em;
}

.sobreNosotros p {
    text-align: justify;
    line-height: 1.5em;
    margin: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
}

/*** FOOTER ***/
.logoWhatsapp {
    width: 2.5em;
    position: fixed;
    right: .5em;
    bottom: 1em;
    transition: width 0.3s, border 0.3s;
    margin: .5em;
    z-index: 1000; /* Asegura que el logo esté en la parte superior */
}

.logoWhatsapp:hover {
    width: 3.5em;
    border-radius: 2em;
    border: 3px solid var(--color-verde-claro);
}

footer {
    padding: 3rem;
    text-align: center;
    margin-top: .2em;
    margin-bottom: .5em;
    max-height: 10em;
    text-transform: uppercase;
}

.seguinos {
    font-size: .75em;
    margin-left: 1rem;
    color: var(--color-texto-negro);
}

footer p {
    color: var(--color-texto-negro);
    font-size: .8rem;
}

.firma {
    margin-top: .5em;
}

.logoRedes {
    margin-top: 0;
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
    cursor: pointer;
    width: 4em;
    transition: width 0.3s, border 0.3s;
}

.logoRedes:hover {
    width: 4.5em;
    border-radius: 3em;
    border: 3px solid var(--color-verde-claro);
}

.none {
    display: none;
}


h2,
h3,
h4,
h5,
h6 {
    color: var(--color-verde-oscuro);
}

h1 {
    font-size: 1.5em;
}

/*** Medias queries ***/

@media (min-width: 680px) {
        .menuNav {
        grid-template-columns: repeat(3, 1fr); 
}
    }

    @media (min-width: 1430px) {
        .menuNav {
        grid-template-columns: repeat(6, 1fr); 
}
    }


@media (max-width: 300px) {
    .nav-menu {
        display: none;
        /* Esconder menú de navegación */
    }
    
}
@media (max-width: 400px) {

    /* pantallas menores a 500px */
    .titulo {
        display: none;
    }
}

/* Dispositivos pequeños (teléfonos en modo retrato) */
@media (max-width: 480px) {
    .contenedorProductos {
        padding: .5em;
    }

    .titulo {
        font-size: 1.5em;
    }

    .logoWhatsapp {
        right: .25em;
        bottom: .5em;
    }
}

@media (max-width: 380px) {
    .titulos {
        font-size: 1.5em;
    }

    .menuNav {
        grid-template-columns: repeat(1, 1fr); 
}

    .menuNav li {
    font-size: 1em;
    text-align: center;
}

li:hover {
    background-color: var(--color-verde-claro);
    border: 2px solid var(--color-texto-negro);
}

/* Estilo para enlaces dentro de <li> */
li a {
    padding: .25em;
}
}
